* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  min-width: 100%;
  overflow-x: hidden;
  display: flex;
    flex-direction: column;

}

.bluediv {
  background-color: navy;
  color: navy;
  min-height: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 50%;
  height: 100%;
  z-index: -1;
}
.pages {
  display: flex;
  gap: 4px;
}
.pages.one {
  display: flex;
  gap: 12px;
  margin-right: 11px;
}

.reddiv {
  background-color: maroon;
  color: maroon;
  min-height: 50%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 50%;
  height: 100%;
  z-index: -1;
}
.title {
  color: rgb(223, 223, 7);
  font-size: 50px;
}
.titlediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  gap: 20px;
}
.page2tab {
  color: rgb(223, 223, 7);
  font-size: 1.2em;
}

.map-wrapper {
  min-width: 100%;
  height: 500px;
}

.action1 {
  padding: 20px;
}
p,
span,
a,
div {
  font-family: "Belleza";
  max-width: 80ch;
}
h1,
h2,
h3 {
  font-family: "Paytone One";
}
.img1 {
  border-radius: 50%;
  aspect-ratio: 1;

  object-fit: cover;
}
.wrapper img {
  max-width: 80ch;
  border-radius: 6px;
}
.weather-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px 0;
}
.weather-div button {
  width: fit-content;
  padding: 8px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 6px;
  background-color: rgb(247, 247, 247);
  outline: none;
  transition: scale 0.1s ease-in-out, background-color 0.1s ease-in-out;
  scale: 1;
}
.weather-div button:active {
  scale: 0.96;
  background-color: rgb(233, 233, 233);
}
.temp {
  display: flex;
  align-items: center;
  gap: 6px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  gap: 1em;
  padding: 30px 0;
  font-size: 16px;

}
.linkButton {
  background-color: rgb(231, 231, 231);
  padding: 8px;
  color: black;
  text-decoration: none;
  width: fit-content;
  border-radius: 4px;
}
.linkButton:hover {
  background-color: rgb(202, 202, 202);
}
.content-wrap {
    padding: 16px;
  
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
}

.pages .one {
  background-color: rgb(71, 71, 223);
  color: white;
}
.pages .two {
  background-color: rgb(184, 37, 32);
  color: white;
}
.pages .one:hover {
  background-color: rgb(88, 88, 228);
}
.pages .two:hover {
  background-color: rgb(182, 54, 49);
}

footer {
    border: 1px solid rgb(150, 78, 78);
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-family: "Belleza";
}